<variant-radios
  id="variant-radios-template--19742829314351__main"
  class="no-js-hidden"
  data-section="template--19742829314351__main"
  data-url="/products/amazing-coffee"
>
  <fieldset class="js product-form__input">
    <legend class="form__label">Size</legend>
    <div class="custom-selector__radios">
      <input
        type="radio"
        id="template--19742829314351__main-1-0"
        name="Size"
        value="1 Pack"
        form="product-form-template--19742829314351__main"
        class="        custom-checkbox"
      >
      <label for="template--19742829314351__main-1-0" class="custom-selector__radio-label">
        <span class="custom-selector__radio"> </span>
        <span class="custom-selector__title">1 Pack</span>
        <span class="custom-selector__price">$22.80</span>

        <span class="custom-selector__compare-price">$24.00</span>
        <span class="custom-selector__off">-17%</span>

        <span class="visually-hidden">Variant sold out or unavailable</span> </label
      ><input
        type="radio"
        id="template--19742829314351__main-1-1"
        name="Size"
        value="3 Pack"
        form="product-form-template--19742829314351__main"
        checked=""
        class="        custom-checkbox"
      >
      <label for="template--19742829314351__main-1-1" class="custom-selector__radio-label">
        <span class="custom-selector__radio"> </span>
        <span class="custom-selector__title">3 Pack</span>
        <span class="custom-selector__price">$63.36</span>

        <span class="custom-selector__compare-price">$72.00</span>
        <span class="custom-selector__off">-17%</span>

        <span class="custom-selector__tag"> Best Seller </span>

        <span class="visually-hidden">Variant sold out or unavailable</span> </label
      ><input
        type="radio"
        id="template--19742829314351__main-1-2"
        name="Size"
        value="6 Pack"
        form="product-form-template--19742829314351__main"
        class="        custom-checkbox"
      >
      <label for="template--19742829314351__main-1-2" class="custom-selector__radio-label">
        <span class="custom-selector__radio"> </span>
        <span class="custom-selector__title">6 Pack</span>
        <span class="custom-selector__price">$119.52</span>

        <span class="custom-selector__compare-price">$144.00</span>
        <span class="custom-selector__off">-17%</span>

        <span class="visually-hidden">Variant sold out or unavailable</span>
      </label>
    </div>
  </fieldset>
  <script type="application/json">
    [{"id":47001370100015,"title":"1 Pack","option1":"1 Pack","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":false,"featured_image":null,"available":true,"name":"Amazing Coffee - 1 Pack","public_title":"1 Pack","options":["1 Pack"],"price":2280,"weight":454,"compare_at_price":2400,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[{"price_adjustments":[{"position":1,"price":1920}],"price":1920,"compare_at_price":2280,"per_delivery_price":1920,"selling_plan_id":8536424751,"selling_plan_group_id":"fd2d6bd03336944fe2c5245928e53f91fd7eabca"},{"price_adjustments":[{"position":1,"price":1920}],"price":1920,"compare_at_price":2280,"per_delivery_price":1920,"selling_plan_id":8536457519,"selling_plan_group_id":"fd2d6bd03336944fe2c5245928e53f91fd7eabca"},{"price_adjustments":[{"position":1,"price":1920}],"price":1920,"compare_at_price":2280,"per_delivery_price":1920,"selling_plan_id":8536490287,"selling_plan_group_id":"fd2d6bd03336944fe2c5245928e53f91fd7eabca"}]},{"id":47001370132783,"title":"3 Pack","option1":"3 Pack","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":false,"featured_image":null,"available":true,"name":"Amazing Coffee - 3 Pack","public_title":"3 Pack","options":["3 Pack"],"price":6336,"weight":0,"compare_at_price":7200,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[{"price_adjustments":[{"position":1,"price":5329}],"price":5329,"compare_at_price":6336,"per_delivery_price":5329,"selling_plan_id":8546746671,"selling_plan_group_id":"218e25e7cd57c3bfc1942e5375301334463fc8a6"},{"price_adjustments":[{"position":1,"price":5329}],"price":5329,"compare_at_price":6336,"per_delivery_price":5329,"selling_plan_id":8546779439,"selling_plan_group_id":"218e25e7cd57c3bfc1942e5375301334463fc8a6"},{"price_adjustments":[{"position":1,"price":5329}],"price":5329,"compare_at_price":6336,"per_delivery_price":5329,"selling_plan_id":8546812207,"selling_plan_group_id":"218e25e7cd57c3bfc1942e5375301334463fc8a6"}]},{"id":47001370165551,"title":"6 Pack","option1":"6 Pack","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":false,"featured_image":null,"available":true,"name":"Amazing Coffee - 6 Pack","public_title":"6 Pack","options":["6 Pack"],"price":11952,"weight":0,"compare_at_price":14400,"inventory_management":"shopify","barcode":"","requires_selling_plan":false,"selling_plan_allocations":[{"price_adjustments":[{"position":1,"price":10082}],"price":10082,"compare_at_price":11952,"per_delivery_price":10082,"selling_plan_id":8546877743,"selling_plan_group_id":"849356c1e091c70ec1858c15c5c600da5aa4c674"},{"price_adjustments":[{"position":1,"price":10082}],"price":10082,"compare_at_price":11952,"per_delivery_price":10082,"selling_plan_id":8546910511,"selling_plan_group_id":"849356c1e091c70ec1858c15c5c600da5aa4c674"},{"price_adjustments":[{"position":1,"price":10082}],"price":10082,"compare_at_price":11952,"per_delivery_price":10082,"selling_plan_id":8546943279,"selling_plan_group_id":"849356c1e091c70ec1858c15c5c600da5aa4c674"}]}]
  </script>
</variant-radios>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
